<h1>Repositories</h1>
<div class="mdl-grid">
  <% @repos_info.sort{|a,b| b["created_at"] <=> a["created_at"]}.each do |el| %>
    <% repo_url = el["html_url"] %>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="square-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text"><%= el["name"] %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <%= el["description"] %><br>
        </div>

        <div class="mdl-card__actions mdl-card--border">
          <%= link_to "Visit Repository", repo_url, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect remove-links-decor", target: "_blank" %><br>
          <div align="right">
            <span id="forks" class="material-icons mdl-badge" data-badge="<%= el['forks_count'] %>">call_split</span>
            <div class="mdl-tooltip" for="forks">Forks</div>
            <span id="issues" class="material-icons mdl-badge" data-badge="<%= el['open_issues_count'] %>">error</span>
            <div class="mdl-tooltip" for="issues">Issues</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
