<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <%= link_to "Geet", root_url, class: "remove-links-decor", style: "color:white;" %>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      </nav>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="user-img-menu">
        <%= link_to "Profile", pages_profile_path, class: "mdl-menu__item" %>
        <%= link_to "Sign out", "sign_out", method: :delete, class: "mdl-menu__item" %>
      </ul>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title move-img"><i><%= link_to image_tag(@auth["info"]["image"], width: "150", heigth: "150", class: "img-circle"), pages_profile_path %></i></span>
    <nav class="mdl-navigation">
      <%= link_to raw('<i class="fa fa-user fa-2x"></i>') + " Profile", pages_profile_path, class: "mdl-navigation__link remove-links-decor" %>
      <%= link_to raw('<i class="fa fa-archive fa-2x"></i>') + "Repositories", "my_repos", class: "mdl-navigation__link remove-links-decor" %>
      <%= link_to raw('<i class="fa fa-power-off fa-2x"></i>') + "Log Out", sign_out_path, class: "mdl-navigation__link remove-links-decor", method: :delete %>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" id="center-page-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--11-col">

          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </main>
</div>
